@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  /* hides scrollbar in Firefox */
  -ms-overflow-style: none;
  /* hides scrollbar in IE/Edge */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}